* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(1, 2fr); */
    /* grid-template-columns: 2fr 1fr 1fr 1fr auto; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 2fr;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.box {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    width: 100px;
    height: 100px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "navbar navbar"
        "sidebar main"
        "footer footer1";
    gap:100px;
    margin-top: 6rem;
}
.container2 .box {
    background-color: #2196F3;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    width: 200px;
    height: 100px;
}